<div class="card">
    <div class="card-header">
        <h4>View Employee</h4>
    </div>
    <div class="card-body table-responsive-sm table-responsive-md table-responsive-lg">
      <table class="table" >
        <thead>
          <tr>
            <th>Sr.No</th>
            <th >First Name</th>
            <th >Last Name</th>
            <th >Salary</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let element of employeeList | paginate: { itemsPerPage: pageSize, currentPage: p };   let i=index">

            <td>{{pageSize *(p-1)+(i+1)}}</td>
            <td>{{element.firstname}}</td>
            <td>{{element.lastname}}</td>
            <td>{{element.salary}}</td>
            <td>
                <button type="button" class="btn-sm btn-primary" (click)="updateEmployee(element)"><i class="fa fa-edit"></i></button>
                &nbsp;
                <button type="button"  class="btn-sm btn-danger" (click)="deleteEmployee(element)"><i class="fa fa-trash"></i></button>
            </td>

          </tr>
        </tbody>
      </table>

      <div class="d-flex justify-content-end">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>

      <div class="d-flex justify-content-end">

        Items Per Page:&nbsp;
        <select style="width: 50px; margin-right: 10px;" (change)="handlePageSizeChange($event)">
          <option *ngFor="let size of pageSizes" [ngValue]="size">
            {{ size }}
          </option>
        </select>
      </div>
    </div>
  </div>
